@layer settings, layout, element, utils, theme;

@import '/assets/theme.css';
@import '/assets/animations.css';
@import '/app/components/FeedEntry.css';

/**
 * I purpousfully use TwCSS classes and varialbe names for the case I'd like to switch to TwCSS =)
 */
@layer settings {
    :root {
        --primary-color: #eee;
        --secondary-color: #fff;

        --base-size: 16px;
        --spacing: 16px;

        --aspect-vdieo: 9 / 16;

        --container-3xl: calc(48 * var(--spacing));

        --tw-scroll-snap-strictness: proximity;

        font-size: var(--base-size);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #333;
            --secondary-color: #eee;
        }
    }
}

@layer layout {
    /*  */
    /* display type */

    .hidden {
        display: none;
    }

    .block {
        display: block;
    }

    .flex {
        display: flex;
    }

    .inline-flex {
        display: inline-flex;
    }

    /*  */
    /* position */
    .relative {
        position: relative;
    }

    /*  */
    /* display flex setup */

    .flex-col {
        flex-flow: column;
    }

    .justify-center {
        justify-content: center;
    }

    .items-center {
        align-items: center;
    }

    /*  */
    /* object ft */

    .object-contain {
        object-fit: contain;
    }
}

@layer utils {
    /* font-size */

    .text-base {
        font-size: var(--base-size);
        line-height: calc(1.2 * var(--base-size));
    }

    /*  */
    /* padding */

    .p-0 {
        padding: 0;
    }

    /*  */
    /* margin */

    .m-0 {
        margin: 0;
    }

    .m-auto {
        margin: auto;
    }

    /*  */
    /* width */

    .w-full {
        width: 100%;
    }

    .w-screen {
        width: 100vw;
    }

    .max-w-3xl {
        max-width: var(--container-3xl);
    }

    /*  */
    /* height */

    .h-screen {
        height: 100vh;
    }

    .max-h-screen {
        max-height: 100vh;
    }

    /*  */
    /* aspect-ratio */

    .aspect-video {
        aspect-ratio: var(--aspect-vdieo);
    }

    /*  */
    /* scroll-snap */

    .snap-y {
        scroll-snap-type: y var(--tw-scroll-snap-strictness);
    }

    .snap-mandatory {
        --tw-scroll-snap-strictness: mandatory;
    }

    .snap-start {
        scroll-snap-align: start;
    }

    .snap-always {
        scroll-snap-stop: always;
    }

    /*  */
    /* overflow */

    .overflow-scroll {
        overflow: scroll;
    }

    .scroll-smooth {
        scroll-behavior: smooth;
    }

    /*  */
    /* siez */

    .size-2 {
        height: calc(2 * var(--spacing));
        width: calc(2 * var(--spacing));
    }

    /*  */
    /* transition */

    .transition-opacity {
        transition-property: opacity;
    }

    /*  */
    /* transition: timing */

    .delay-100 {
        transition-delay: 100ms;
    }

    .duration-300 {
        transition-duration: 300ms;
    }

    /*  */
    /* user interaction */
    .pointer-events-none {
        pointer-events: none;
    }
}